<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <style>
        body{
            padding-top: 60px;
            padding-bottom: 40px;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <a class="navbar-brand" href="#">
            Blog
            <span class="glyphicon glyphicon-education" aria-hidden="true"></span>
        </a>
        <ul class="nav nav-pills" style="float: right;padding: 5px;">
            <li class="active"><a href="/">首页</a></li>
            <li><a href="/login">登入</a></li>
            <li><a href="/reg">注册</a> </li>
        </ul>
    </div>
</nav>

